h1.logo {
    font-family: "Courier New";
    font-weight: 900;
    font-size: 50px;
}

h2.tag-line {
    font-family: Georgia, "TImes New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
    white-space: nowrap;
}

.src {
    height: 593px;
    overflow: auto;
}

.analysis {
    height: 593px;
    overflow: auto;
    font-size: 12pt;
}

.analysis .s1 { color: #B9B9B9; }
.analysis .s2 { color: #F2CA11; }
.analysis .s3 { color: #EA5B09; }
.analysis .s4 { color: #B74315; }
.analysis .s5 { color: #6F0505; font-weight: 700}

.statistics {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13pt;
}

.popover {
    max-width: none;
}

.popover-title {
    text-align: center;
}

.popover-content pre {
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
}

/*---------------------------------------------------------------------------*/

.ppi-code {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    font-weight: 700;
    font-family: "Courier New";
    background-color: #FFFFFF;
    font-size: 13pt;
}

.ppi-code .active {background-color: #F5F5F5; }
.ppi-code .cast { color: #339999; }
.ppi-code .comment { color: #008080; }
.ppi-code .core { color: #FF0000; }
.ppi-code .double { color: #999999; }
.ppi-code .heredoc_content { color: #FF0000; }
.ppi-code .interpolate { color: #999999; }
.ppi-code .keyword { color: #BD2E2A; }
.ppi-code .line_number { color: #666666; }
.ppi-code .literal { color: #999999; }
.ppi-code .magic { color: #0099FF; }
.ppi-code .match { color: #9900FF; }
.ppi-code .number { color: #990000; }
.ppi-code .operator { color: #DD7700; }
.ppi-code .pod { color: #008080; }
.ppi-code .pragma { color: #A33AF7; }
.ppi-code .regex { color: #9900FF; }
.ppi-code .single { color: #FF33FF; }
.ppi-code .substitute { color: #9900FF; }
.ppi-code .symbol { color: #389A7D; }
.ppi-code .transliterate { color: #9900FF; }
.ppi-code .word { color: #999999; }
