h1.logo {
    font-family: "Courier New";
    font-weight: 900;
    font-size: 50px;
}

h2.tag-line {
    font-family: Georgia, "TImes New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
}

.src {
    height: 600px;
}

.analysis {
    height: 600px;
}

/*---------------------------------------------------------------------------*/

pre {
    background: #FFF;
    border: none;
    height: 100%;
}


pre code {
    word-wrap: normal;
    white-space: pre;
}

.ppi-code br {
    display: none;
}

.ppi-code .cast { color: #339999; }
.ppi-code .comment { color: #008080; }
.ppi-code .core { color: #FF0000; }
.ppi-code .double { color: #999999; }
.ppi-code .heredoc_content { color: #FF0000; }
.ppi-code .interpolate { color: #999999; }
.ppi-code .keyword { color: #BD2E2A; }
.ppi-code .line_number { color: #666666; }
.ppi-code .line_number_off { display: none; }
.ppi-code .line_number_on { display: inline; }
.ppi-code .literal { color: #999999; }
.ppi-code .magic { color: #0099FF; }
.ppi-code .match { color: #9900FF; }
.ppi-code .number { color: #990000; }
.ppi-code .operator { color: #DD7700; }
.ppi-code .pod { color: #008080; }
.ppi-code .pragma { color: #A33AF7; }
.ppi-code .regex { color: #9900FF; }
.ppi-code .single { color: #FF33FF; }
.ppi-code .substitute { color: #9900FF; }
.ppi-code .symbol { color: #389A7D; }
.ppi-code .transliterate { color: #9900FF; }
.ppi-code .word { color: #999999; }
