BODY {
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
  background: white;
}

TABLE {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
  color: inherit;
}

IMG { border: 0; }
FORM { margin: 0; }
input { margin: 2px; }


A:link, A:visited {
  background: transparent;
  color: #006699;
}

TD {
  margin: 0;
  padding: 0;
}

DIV {
  border-width: 0;
}

DT {
  margin-top: 1em;
}

TH {
  background: #bbbbbb;
  color: inherit;
  padding: 0.4ex 1ex;
  text-align: left;
}

TH A:link, TH A:visited {
  background: transparent;
  color: black;
}

PRE     {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}


IMG     {
  vertical-align: top;
}

DT {
  font-size: 1.4em;
  font-weight: bold;
}

