<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />

<link rel="stylesheet" href="/styles/style.css" type="text/css" media="all" />

</head>

<body>

<pre>

[%- code -%]

</pre>

</body>
</html>